.catagory {
  padding: 1rem;
  margin: 0 auto;
}
.catagory-button-container {
  display: flex;
  justify-content: space-evenly;
}

.catagory button {
  background: transparent;
  padding: 0.5rem;
  border: none;
  border-bottom: 1.5px solid #691125;
  color:white
}



/* surafel */
