.movie {
  width: 90vw;
  margin: 2.5rem auto;

}

.movie-display {
  flex-basis: calc(50% - 1rem);
  border: 3px solid red;
}

.movie-detail {
  flex-basis: calc(50% - 1rem);
  align-self: center;
}

.section-center{
  margin-bottom: 2rem;
}

@media screen and (min-width: 776px) {
  .section-center {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 2rem;
    justify-content: space-between;
  }
}
