.movie-form-group{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


.inputs {
    /* border:1px solid red; */
    margin: 1rem;
}

input{
    margin:0 1rem;
}
textarea {
    margin-left: 1rem;
}

.btn-submit{
    padding: 0.5rem;
    text-align: left;
}

