img {
  width: 100%;
  display: block;
}

.movie-card {

  box-shadow: 4px 10px 5px 0 rgb(99, 91, 91);
}

.movie-info {
  display: flex;
  justify-content: space-evenly;
  padding: 0.7rem 0;
}
.movie-title {
  text-align: center;
  padding: 0.7rem 0;
}
.like-icon {
  text-align: center;
}
